<li>
    <h2><%= book.id %></h2>
    <p><%= book.type %></p>
    <img src="<%= book.imgUrl %>" alt="Book image">
    <p><%= book.title %></p>
    <p><%= book.author %></p>
    <p><%= book.description%></p>
</li>